# Exclude the project virtual environment from image builds
.git/
.venv/
.vscode/
django_mqtt_mysql/__pycache__/
django_mqtt_mysql/setting.py
mosquitto/
myapp/__pycache__/
.dockerignore
.gitignore
docker-compose.yml
Dockerfile
run.sh